<%- include("partials/header"); -%>
    <div class="container">
        <img class="show-media" src="<%=show.showmedia%>" alt="">
        <div class="overlay-rect2"></div>
        <div class="show-title text"><h1><%=show.name%></h1></div>
        <div class="artist-name text"><h1><%= show.artist%></h1></div>
        <div class="price text"><h1><%= show.price%></h1></div>
        <div class="rectangle">
            <div class="location text"><h1><%= show.location %></h1></div>
            <div class="date text"><h1><%= show.date%></h1></div>
        </div>
        <button class="text" id="buy-ticket" onclick="location.href='/stage/<%=show._id%>'">Buy</button>
    </div>
    <%- include("partials/footer"); -%>